<!-- about Section -->
<section id="about">
  <div class="container">
     <div class="row">
         <div class="col-lg-12 " >
           <h1 style="color: black;font-size: 35px;">NeoHouse Campo Belo</h1>
           <i class="fa fa-map-marker" style="color:gray"> </i>
           <span style="color:gray;margin-left: 1%;">Rua Vieira de Morais nº 79 - São Paulo</span>
          <!-- <p>
          A progress bar:
           <ngb-progressbar showValue="true" type="success" [value]="100">
           </ngb-progressbar>
         </p>-->
         </div>
   </div>
   <div class="row">
       <div class="col-lg-12 " style="color:white">
         teste
       </div>
   </div>

   <div class="row">
     <div class="col-lg-4 " >
         <div class="info-box bg-yellow">
             <span class="info-box-icon"><i class="fa fa-bed"></i></span>
             
             <div class="info-box-content">
               <span class="info-box-text">Quartos</span>
              
               <div class="progress">
                 <div class="progress-bar" style="width: 100%"></div>
               </div>
               <span class="progress-description">
                     até 2
                   </span>
             </div>
             <!-- /.info-box-content -->
           </div>
     </div>
     <div class="col-lg-4 mr-auto" >
         
     </div>
     <div class="col-lg-4 mr-auto" >
         
     </div>
   </div>
   <div class="row">
       <div class="col-lg-4 " >
        
       </div>
       <div class="col-lg-4 mr-auto" >
           
       </div>
       <div class="col-lg-4 mr-auto" >
           <div class="info-box bg-green">
               <span class="info-box-icon"><i class="fa fa-car"></i></span>
   
               <div class="info-box-content">
                 <span class="info-box-text">Vagas</span>
                 <!--<span class="info-box-number">2</span>-->
   
                 <div class="progress">
                   <div class="progress-bar" style="width: 100%"></div>
                 </div>
                 <span class="progress-description">
                       até 2
                     </span>
               </div>
               <!-- /.info-box-content -->
             </div>
       </div>
     </div>

     <div class="row">
         <div class="col-lg-4 " >
             <div class="info-box bg-aqua">
                 <span class="info-box-icon"><i class="fa fa-arrows-alt"></i></span>
     
                 <div class="info-box-content">
                   <span class="info-box-text">Área (m²)</span>
                  
                   <div class="progress">
                     <div class="progress-bar" style="width: 100%"></div>
                   </div>
                   <span class="progress-description">
                         30 até 65 m²
                       </span>
                 </div>
                 <!-- /.info-box-content -->
             </div>
         </div>
         <div class="col-lg-4 mr-auto" >
             
         </div>
         <div class="col-lg-4 mr-auto" >
             
         </div>
      </div>

      <div class="row">
        <div class="col-lg-4 " >
         
        </div>
        <div class="col-lg-4 mr-auto" >
            
        </div>
        <div class="col-lg-4 mr-auto" >
            <div class="info-box bg-red">
                <span class="info-box-icon"><i class="fa fa-bath"></i></span>
    
                <div class="info-box-content">
                  <span class="info-box-text">Suíte</span>
                  <!--<span class="info-box-number">2</span>-->
    
                  <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                  </div>
                  <span class="progress-description">
                        até 1
                      </span>
                </div>
                <!-- /.info-box-content -->
              </div>
        </div>
      </div>

      <div class="row">
       <div class="col-lg-12 " style="color: white">
          .
          .
          .
          .
          
       </div>
      </div>
      <div class="row" style="color: gray; font-size: 27px; font-weight: bold;">
         <div class="col-lg-12 " >
             Áreas de Convívio e Lazer
         </div>
        </div>
      
      <div class="row" style="color: gray">
           <div class="col-lg-4 " >
             <i class="fa fa-check-circle"></i> Fitness
           </div>
           <div class="col-lg-4 mr-auto" >
             <i class="fa fa-check-circle"></i> Brinquedoteca
           </div>
           <div class="col-lg-4 mr-auto" >
             
           </div>
     </div>
     <div class="row" style="color: gray">
         <div class="col-lg-4 " >
           <i class="fa fa-check-circle"></i> Espaço gourmet
         </div>
         <div class="col-lg-4 mr-auto" >
           <i class="fa fa-check-circle"></i> Lavanderia
         </div>
         <div class="col-lg-4 mr-auto" >
           
         </div>
     </div>
     <div class="row" style="color: gray">
       <div class="col-lg-4 " >
        <i class="fa fa-check-circle"></i> Piscina 
       </div>
       <div class="col-lg-4 mr-auto" >
         <i class="fa fa-check-circle"></i>  Churrasqueira
       </div>
       <div class="col-lg-4 mr-auto" >
          
       </div>
     </div>

     <div class="row">
        <div class="col-lg-12 " style="color: white">
          .
          .
          .
          .
          
        </div>
     </div>

     <div class="row">
        <div class="col-lg-12 " style="color: white">
          .
          .
          .
          .
          
        </div>
     </div>

     <div class="row">
        <div class="col-lg-12 " style="color: gray">
          <ngb-tabset class="tabset1">
            <ngb-tab title="65 m²">
              <ng-template ngbTabContent>
                  <div class="row">
                      <div class="col-lg-12 mr-auto" >
                          <img src="{{planta_sessenta_m}}" alt="65 m²" style="width: 100%;">
                      </div>
                  </div>
             </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle><b>30 m²</b> </ng-template>
              <ng-template ngbTabContent>
                  <div class="row">
                      <div class="col-lg-12 mr-auto" >
                          <img src="{{planta_trinta_m}}" alt="30 m²" style="width: 100%;">
                      </div>
                  </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
  
</div>
</section>