.breve-lancamento span{
    font-size: 13px;
}

.breve-lancamento{
    position: absolute;
    max-height: 34px;
    max-width: 150px;
    padding: 4px;
    border: none;
    color: black !important;
    font-weight: bold;
    box-shadow: none;
    overflow:hidden;  text-align: center;
    background-color: #FFD700;
    border-radius: 20px;
    margin: 10px 0 0 10px;
}

.btn-mais-detalhes{
    background-color: #FFD700 !important;
    border-color: #FFD700 !important;
    color: black !important;
    font-weight: bold;
}

