<!-- Portfolio Grid Section -->
<section class="portfolio" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-12">
        <ngb-carousel *ngIf="imagesUrl" class="galeria" style="width: 100%;">
          <ng-template ngbSlide *ngFor="let imagem of imagesUrl">
           <img [src]="imagem.url" alt="Random first slide" class="imagem-carrousel"> 
            <div class="carousel-caption">
              <h3>{{imagem.texto}}</h3>
             
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</section>
