/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .contato-form {
    position : sticky;
  }
}

@media only screen and (max-width: 600px) {
  .contato-form {
    display: none;
  }
}

.contato-form {
    width: 410px;
    height: 500px;
    float: right;
    margin-top: 2%; /* altura que está do topo */
    z-index: 1000;
    top: 100px; /* altura que vai parar antes do topo */
    padding: 50px;
      /* background-color: gray;*/
      opacity: .4;
  }
  
  :host { color: blue ;}
  
  :host ::ng-deep .tabset1 a.nav-link {
    color: gray;
    
  }
  
  :host ::ng-deep .tabset1 a.nav-link.active {
    color: black;
    font-weight: bold;
    /* background-color: gray;*/
  }