<app-header></app-header>



<app-galeria></app-galeria>

<div class="contato-form">
    <ngb-tabset class="tabset1">
        <ngb-tab title="WhatsApp">
            <ng-template ngbTabContent>
              
                <div class="boxVisita">
                    <div class="CampoForm">
                       <div class="borda-input">   </div>
                       <div class="col-xs-12 col-md-12"> 
                          <p> </p>
                      </div>
                      <form name="sentMessage" id="contactForm" novalidate="novalidate">
                           <div class="borda-input">   </div>
                          <div class="col-xs-12 col-md-12"> 
                              <input class="form-control" name="nome" id="nome" type="text" placeholder="Nome" required="required" data-validation-required-message="Nome obrigatório.">
                              <p class="help-block text-danger"></p>
                          </div>
                          <div class="borda-input">   </div>
                          <div class="col-xs-12 col-md-12">   
                            <input name="email" type="text" id="email" placeholder="Email" class="form-control" required="required" data-validation-required-message="Email obrigatório.">  
                            <p class="help-block text-danger"></p>
                          </div>  
                          <div class="borda-input">   </div>
                          <div class="col-xs-12 col-md-12">                              
                            <input name="telefone" type="text" id="telefone" placeholder="(DDD) Celular" class="form-control" maxlength="15">
                            <p class="help-block text-danger"></p>
                          </div>  
                          <div class="borda-input">   </div>
                          <div class="col-xs-12 col-md-12">
                              <textarea class="form-control" id="message" rows="3" placeholder="Mensagem" required="required" data-validation-required-message="Mensagem obrigatória"></textarea>
                              <p class="help-block text-danger"></p>
                          </div>
                          <div id="success"></div>
                          <div class="col-xs-12 col-md-12">                          
                              <button type="submit" class="btn btn-info"  id="sendMessageButton">Enviar</button>
                          </div>
                      </form>
                   </div>
                  </div>

            </ng-template>
          </ngb-tab>
          <ngb-tab title="E-mail">
            <ng-template ngbTabContent>
              <p>Content for tab 2</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Telefone">
            <ng-template ngbTabContent>
              <p>Content for tab 3</p>
            </ng-template>
          </ngb-tab>
      </ngb-tabset>
</div>

<app-projeto></app-projeto>

<!-- contact Section -->
<section class="text-white mb-0" id="contact" style="background-color: #E6E6E6">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">Sobre</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-lg-6 ml-auto">
        <p class="lead">
          • 2014 - Atual - TalentFour - CDN Comunicação
       </p>
      </div>
      <div class="col-lg-6 mr-auto">
        <p class="lead">
          • Spring Boot.
        
        </p>
      </div>
    </div>
  </div>
</section>


<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Localização</h4>
        <p class="lead mb-0">
          <br>São Paulo</p>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Web</h4>
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fa fa-fw fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fa fa-fw fa-google-plus"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fa fa-fw fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fa fa-fw fa-linkedin"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fa fa-fw fa-dribbble"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="text-uppercase mb-4">Template</h4>
        <p class="lead mb-0">Este template é um tema Bootstrap livre para usar, de código aberto, criado pelo Start Bootstrap.
          <a href="http://startbootstrap.com" target=“_blank”>Start Bootstrap</a>.</p>
      </div>
    </div>
  </div>
</footer>
