<!-- contact Section -->
<section class="text-white mb-0" id="contact" style="background-color: black">
  <div class="row" style="margin-bottom: 1%; margin-left: 0px;">
    <div class="col-lg-12 " >
      <i class="fa fa-map-marker nome-rua"> </i>
      <span class="nome-rua" style="margin-left: 1%;">Rua Vieira de Morais nº 79 - São Paulo</span>
    </div>
  </div>
  <agm-map 
            (mapReady)="mapReadyHandler()" 
            [latitude]="lat" 
            [longitude]="lng"
            [zoom]="14" >
              <agm-circle *ngIf="!isPositionError && lat && lng"
                [latitude]="lat"
                [longitude]="lng"
                [radius]="800"
                [fillColor]="'#f44336'"
                [fillOpacity]="0.4"
              >
              </agm-circle>

              <agm-info-window *ngIf="isPositionError"
                [latitude]="lat"
                [longitude]="lng"
                [maxWidth]="300"
                [isOpen]=true>
                Local não encontrado
              </agm-info-window>
  </agm-map>
  
</section>